<a href="https://colab.research.google.com/github/rashida048/BigDataAnalytics/blob/master/RDD_DataFrame_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 58 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 48.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=92e525ee78fa886093558d06f015702d7e0ff3b9dbd70e1740eaabc8aa8aa1df
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [4]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [5]:
rdd = sc.parallelize([("to", 1), ("be", 1), ("or", 1) , ("not", 1),  ("to", 1),  ("be", 1)])

rdd.take(1)

[('to', 1)]

In [6]:
rdd3 = rdd.reduceByKey(lambda x, y: x+y)

rdd3.collect()

[('to', 2), ('be', 2), ('or', 1), ('not', 1)]

In [7]:
sc.parallelize([1, 1, 2, 3]).distinct().collect()

[2, 1, 3]

In [8]:
rdd1 = sc.parallelize( [(1, 'a'), (1, 'b'), (5, 'c'), (2, 'd'), (3, 'e')])
rdd2 = sc.parallelize([(1, 'AA'), (5, 'BB'), (5, 'CC'), (6, 'DD')])

In [9]:
rdd1.join(rdd2).collect()

[(1, ('a', 'AA')), (1, ('b', 'AA')), (5, ('c', 'BB')), (5, ('c', 'CC'))]

In [10]:
rdd1.leftOuterJoin(rdd2).collect()

[(1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (5, ('c', 'BB')),
 (5, ('c', 'CC')),
 (2, ('d', None)),
 (3, ('e', None))]

In [11]:
rdd1.rightOuterJoin(rdd2).collect()

[(1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (5, ('c', 'BB')),
 (5, ('c', 'CC')),
 (6, (None, 'DD'))]

In [12]:
rdd1.fullOuterJoin(rdd2).collect()

[(1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (5, ('c', 'BB')),
 (5, ('c', 'CC')),
 (2, ('d', None)),
 (6, (None, 'DD')),
 (3, ('e', None))]

In [13]:
sc.parallelize([1, 2, 3, 4, 5]).reduce(lambda x, y: x+y)

15

In [15]:
rdd = sc.parallelize([("a", ["apple", 'banana', "lemon"]), ("b", ["grapes"])])
rdd.take(1)

[('a', ['apple', 'banana', 'lemon'])]

In [16]:
rdd.mapValues(lambda x: len(x)).collect()

[('a', 3), ('b', 1)]

In [17]:
sc.parallelize([4, 2, 3]).first()

4

In [18]:
sc.parallelize([(4, 2), (1, 2), (3, 2)]).first()

(4, 2)

In [21]:
sc.parallelize([1, 2, 1, 2, 2], 3).countByValue()

defaultdict(int, {1: 2, 2: 3})

In [22]:
sc.parallelize([1, 2, 1, 2, 2]).countByValue()

defaultdict(int, {1: 2, 2: 3})

In [23]:
sc.parallelize([1, 2, 3, 4, 5], 3).coalesce(1).collect()

[1, 2, 3, 4, 5]

In [25]:
sc.parallelize([1, 2, 3, 4, 5], 3).coalesce(1).glom().collect()

[[1, 2, 3, 4, 5]]

In [26]:
sc.parallelize([1, 2, 3, 4, 5], 3).coalesce(3).glom().collect()

[[1], [2, 3], [4, 5]]

In [29]:
sc.parallelize([1, 2, 3, 4, 5], 3).coalesce(2).glom().collect()

[[1], [2, 3, 4, 5]]

In [31]:
sc.parallelize([1, 2, 3, 4, 5], 4).coalesce(5).glom().collect()

[[1], [2], [3], [4, 5]]

In [32]:
sc.parallelize([1, 2, 3, 4, 5], 5).coalesce(5).glom().collect()

[[1], [2], [3], [4], [5]]

In [34]:
sc.parallelize([1, 2, 3, 4, 5], 6).coalesce(6).glom().collect()

[[], [1], [2], [3], [4], [5]]

In [36]:
rdd = sc.parallelize([1,2,3,4,5,6,7,8], 7)
rdd.glom().collect()

[[1], [2], [3], [4], [5], [6], [7, 8]]

In [37]:
rdd = sc.parallelize([("a", 1), ("b", 1), ("a", 1)])
rdd.groupByKey().collect()

[('b', <pyspark.resultiterable.ResultIterable at 0x7fdfc8425350>),
 ('a', <pyspark.resultiterable.ResultIterable at 0x7fdfc8425290>)]

In [38]:
rdd = sc.parallelize([("c", 1), ("a", 1), ("b", 1)])
rdd.collect()

[('c', 1), ('a', 1), ('b', 1)]

In [39]:
rdd.sortByKey().collect()

[('a', 1), ('b', 1), ('c', 1)]

In [40]:
rdd = sc.parallelize([("c1", "p1"), ("c2", "p1"), ("c1", "p1") , ("c2", "p2") , ("c2", "p3")])
rdd.collect()

[('c1', 'p1'), ('c2', 'p1'), ('c1', 'p1'), ('c2', 'p2'), ('c2', 'p3')]

In [43]:
def mySequenceFunction(x, y):
  x.add(y)
  return x

In [42]:
def myCombinerFunction(x, y):
  x.update(y)
  return x

In [45]:
rdd.aggregateByKey(set([]), mySequenceFunction, myCombinerFunction).collect()

[('c1', {'p1'}), ('c2', {'p1', 'p2', 'p3'})]

In [13]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [14]:
a = [("Chris", "Berliner", 5)]
sqlContext.createDataFrame(a, ["drinker", "beer", "Score"]).collect()

[Row(drinker='Chris', beer='Berliner', Score=5)]

In [15]:
likes = [('Chris', 'Bud'), ('Kia', 'Berliner'), ('Matt', 'ARJK')]
frequencies = [('Chris', 'Bohene'), ('Kia', 'Little'), ('Oscar', 'Griff')]

likesName=['Drinker', 'Beer']
frequentsName=['Drinker', 'Bar']

In [16]:
likesDF = sqlContext.createDataFrame(likes, likesName)
frequentsDF = sqlContext.createDataFrame(frequencies, frequentsName)

likesDF.show()

+-------+--------+
|Drinker|    Beer|
+-------+--------+
|  Chris|     Bud|
|    Kia|Berliner|
|   Matt|    ARJK|
+-------+--------+

In [17]:
frequentsDF.show()

+-------+------+
|Drinker|   Bar|
+-------+------+
|  Chris|Bohene|
|    Kia|Little|
|  Oscar| Griff|
+-------+------+

In [18]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'right').show()

+-------+--------+-------+------+
|Drinker|    Beer|Drinker|   Bar|
+-------+--------+-------+------+
|  Chris|     Bud|  Chris|Bohene|
|    Kia|Berliner|    Kia|Little|
|   null|    null|  Oscar| Griff|
+-------+--------+-------+------+

In [19]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'full').show()

+-------+--------+-------+------+
|Drinker|    Beer|Drinker|   Bar|
+-------+--------+-------+------+
|  Chris|     Bud|  Chris|Bohene|
|    Kia|Berliner|    Kia|Little|
|   null|    null|  Oscar| Griff|
|   Matt|    ARJK|   null|  null|
+-------+--------+-------+------+

In [20]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'left_anti').show()

+-------+----+
|Drinker|Beer|
+-------+----+
|   Matt|ARJK|
+-------+----+

In [21]:
likesDF.count()

3

In [23]:
df = sqlContext.createDataFrame([('a', 1), ('b', 1), ('b', 1), ('a', 2)], ('id', 'c'))
df.show()

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  b|  1|
|  a|  2|
+---+---+

In [24]:
df.distinct().show()

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  a|  2|
+---+---+

In [25]:
rdd = df.rdd
rdd.collect()

[Row(id='a', c=1), Row(id='b', c=1), Row(id='b', c=1), Row(id='a', c=2)]

In [26]:
print(df.rdd.map(list).collect())
print(df.rdd.map(tuple).collect())

[['a', 1], ['b', 1], ['b', 1], ['a', 2]]
[('a', 1), ('b', 1), ('b', 1), ('a', 2)]

In [28]:
df = sqlContext.createDataFrame([['a'], ['b'], ['b'], ['c']], (['word']))
df.show()

+----+
|word|
+----+
|   a|
|   b|
|   b|
|   c|
+----+

In [29]:
from pyspark.sql.functions import lit
new_df = df.withColumn("COUNT", lit(1))

new_df.show()

+----+-----+
|word|COUNT|
+----+-----+
|   a|    1|
|   b|    1|
|   b|    1|
|   c|    1|
+----+-----+

In [30]:
from pyspark.sql import functions as func
new_df.groupby("word").agg(func.sum("COUNT")).show()

+----+----------+
|word|sum(COUNT)|
+----+----------+
|   c|         1|
|   b|         2|
|   a|         1|
+----+----------+

In [31]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

l = [('Alice', 25), ('Robert', 12), ('Chris', 45)]

df = sqlContext.createDataFrame(l, ['Name', 'Age'])
df.show()

+------+---+
|  Name|Age|
+------+---+
| Alice| 25|
|Robert| 12|
| Chris| 45|
+------+---+

In [32]:
maturity_udf = udf(lambda age: "Adult" if age >= 18 else "Child", StringType())

newdf = df.withColumn("Maturity", maturity_udf(df.Age))
newdf.show()

+------+---+--------+
|  Name|Age|Maturity|
+------+---+--------+
| Alice| 25|   Adult|
|Robert| 12|   Child|
| Chris| 45|   Adult|
+------+---+--------+

In [33]:
df.orderBy("Age", ascending=False).limit(1).show()

+-----+---+
| Name|Age|
+-----+---+
|Chris| 45|
+-----+---+

In [34]:
import numpy as np
mat = np.random.rand(8, 1).reshape(4, -1)

rdd = sc.parallelize(mat)

print(rdd.collect())

[array([0.76145764, 0.77517879]), array([0.73927282, 0.61099688]), array([0.09350687, 0.56712965]), array([0.71246351, 0.91992826])]

In [35]:
rdd.reduce(lambda x, y: np.add(x, y))

array([2.30670084, 2.87323357])

In [36]:
from pyspark.ml.linalg import Vectors

size = 2

data = [(0, Vectors.dense(np.random.rand(size)), ),
        (1, Vectors.dense(np.random.rand(size)),),
        (1, Vectors.dense(np.random.rand(size)), ),
        (0, Vectors.dense(np.random.rand(size)), )]
df = sqlContext.createDataFrame(data, ["Label", "features"])
df.show()

+-----+--------------------+
|Label|            features|
+-----+--------------------+
|    0|[0.31947673185773...|
|    1|[0.46450442485084...|
|    1|[0.58704997366646...|
|    0|[0.90428815087799...|
+-----+--------------------+

In [37]:
a = Vectors.dense(np.round(np.random.rand(size), 2))
b = Vectors.dense(np.round(np.random.rand(size), 2))

print(a)
print(b)


np.add(a , b)

[0.48,0.38]
[0.44,0.31]

array([0.92, 0.69])

In [39]:
np.random.sample([0, 1])

array([], shape=(0, 1), dtype=float64)